{% load i18n %}
<br>
<div class="container ">
    <div class="col-12 mt-2 pb-4">
        <form action="" method="get">
            {{ search_form.as_p }}
            <input type="submit" value={% trans ' فیلتر '%}>
        </form>
<div class="container" style="direction: rtl;">
<span>{% trans 'دسته بندی:' %} </span>

    {% for category in categories %}

        <div class="btn-group">
            <a class="btn btn-primary" href="{{ category.get_absolute_url }}">{{ category.Name }}</a>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
                {% for foo in category.SubCategory.all %}
                    <a class="dropdown-item" href="{{ foo.get_absolute_url }}">{{ foo.Name }}</a>
                    </div>
                {% endfor %}
        </div>
    {% endfor %}
</div>
<br><br>
