{% extends 'base.html' %}
{% load i18n %}
{% block ShowCategory %}{% endblock %}

{% block ShowBasket %}
    <br>
    <br>
    <table class="table table-hover table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{% trans 'نام محصول' %}</th>
            <th scope="col">{% trans 'تعداد' %}</th>
            <th scope="col">{% trans 'قیمت' %}</th>
            <th scope="col">{% trans 'قیمت کل' %}</th>
            <th scope="col">{% trans 'حذف' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for item in basket %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>PRO</td>
                <td>{{ item.Number }}</td>
                <td>{{ item.Price }}</td>
                <td>{{ item.total_price }}</td>
                <td><a href="{% url 'basket:Basket_remove' item.product.id %}">{% trans 'حذف' %}</a></td>
            </tr>
        {% endfor %}
        <tr>

            <td>{% trans 'قیمت نهایی' %}</td>
            <td colspan="4"></td>
            <td>{{ basket.total_price }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{% url 'order:create' %}" class="btn btn-primary">{% translate 'برداخت' %}</a>

{% endblock %}





