{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.5.3/css/bootstrap.min.css"
          integrity="sha384-JvExCACAZcHNJEc7156QaHXTnQL3hQBixvj5RV5buE7vgnNEzzskDtx9NQ4p6BJe" crossorigin="anonymous">
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body style="background-color: #E5E4E2">

{% block navbar %}
    {% include "inc/navbar.html" %}
{% endblock %}


<!-- show message -->
{% block msg %}
    {% include 'inc/message.html' %}
{% endblock %}


{% block ShowCategory %}
    <!-- show and sort categories -->
    {% include "inc/show-category.html" %}
{% endblock %}
{% block ShowProduct %}
    <!-- product item  show -->
    {% include "inc/Product_show.html" %}
{% endblock %}
{% block ShowBasket %}


{% endblock %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.rtlcss.com/bootstrap/v4.5.3/js/bootstrap.bundle.min.js"
        integrity="sha384-40ix5a3dj6/qaC7tfz0Yr+p9fqWLzzAXiwxVLt9dw7UjQzGYw6rWRhFAnRapuQyK"
        crossorigin="anonymous"></script>
</body>
</html>