{% extends 'base.html' %}
{% load i18n %}
{% block ShowCategory %}{% endblock %}
{% block title %}{% trans 'ویرایش نمایه' %}{% endblock %}
{% block ShowProduct %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="" method="post">
                    {% csrf_token %}
                    {% trans 'شماره همراه: ' %} {{ profile_form.Mobile }}
                    <br><br><br>
                    {% trans 'آدرس و کد بستی:' %} {{ profile_form.Address }}
                    <br>
                    <input type="submit" class="btn btn-primary" value="save">
                </form>
            </div>
        </div>
    </div>
{% endblock %}