{% extends 'base.html' %}

{% block ShowCategory %}{% endblock %}
{% block navbar %}{% endblock %}
<div class="container">
    <div class="col-12">
        <div class="col-9">
            {% block ShowBasket %}

                {% include 'basket/Basket_receipts.html' %}
            {% endblock %}

        </div>

    </div>

    <div class="col-3 center " style="margin-left: 12px" >
        {% block ShowProduct %}

            {{ get.email }}
            <br>
            {{ get.full_name }}
        {% endblock %}

    </div>

</div>


