{% extends 'base.html' %}

{% block ShowCategory %}{% endblock %}

{% block ShowProduct %}
    <br>
    <div class="container" style="direction: rtl">
        <div class="row">
            <div class="col-12">
                <div class="col-12 col-sm-3 btn btn-info p-3">
                    نام کاربر:
                    {{ profile.user.full_name }}
                    {#                {{ profile.user.editable }}#}
                </div>

                <div class="col-12 col-sm-3 btn btn-info p-3">
                    شماره تلفن :
                    {{ profile.Mobile }}
                </div>
                <br>
                <br>
                <div class="col-12 col-sm-12 btn btn-info p-3">
                    آدرس و کد بستی:

                    {{ profile.Address }}

                </div>


            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-9">
                {% if profile.ProfileImage %}
                    <img style="width: 150px ; height: 150px;" src="{{ profile.ProfileImage.url }}">
                {% endif %}
                <a href="{% url 'core:profile_edit' %}" class="btn btn-secondary">ویرایش بروفایل</a>
                <a href="#" class="btn btn-secondary">تغییر رمز</a>
            </div>
        </div>
    </div>

    <br>
    {#    {% for foo in order %}#}
    {#    {{ foo.update }}#}
    {#    {% endfor %}#}
    {% for foo in order_item %}
        {{ foo.price }}
        <br>
        {{ foo.Number }}
        <br>
        {{ foo.product }}
        <br>
        {{ foo.order.user }}
        <br>

    {% endfor %}



{% endblock %}



