{% extends 'base.html' %}
{% load i18n %}
{% block title %} {% endblock %}
{% block ShowCategory %}{% endblock %}
{% block ShowProduct %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container" style="direction: rtl">
        <div class="row">
            <div class="clo-12 mr-5">
                <div class="card" style="width: 300px;height: 300px; direction: rtl">
                    <h5 class="card-header">{% trans 'نام' %} : {{ product.Name }}</h5>
                    <div class="card-body">
                        <h5 class="card-title">{% trans 'اطلاعات' %} : {{ product.description }} </h5>
                        <p class="card-text">{% trans 'قیمت' %} : {{ product.Price }}</p>
                        <form action="{% url 'basket:AddProduct' product.id %}" method="post">
                            {% csrf_token %}
                            {{ form }}
                            <input type="submit" value="{% trans 'اضافه' %}">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


