<br>
<div class="container" style="width:50%; direction: rtl;">
    {% for category in categories %}
        <h4><span>دسته بندی</span></h4>

        <div class="btn-group">
            <a class="btn btn-primary" href="{{ category.get_absolute_url }}">{{ category.Name }}</a>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
                {% for foo in category.SubCategory.all %}
                    <a class="dropdown-item" href="{{ foo.get_absolute_url }}">{{ foo.Name }}</a>
                    </div>
                {% endfor %}
        </div>
    {% endfor %}
</div>
<br><br>
